{% extends "base.html" %}

{% block header %}
    <!--        верхняя панель-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
            <div class="container-fluid">
                
                <a href="/" class="navbar-brand"><img src="logo.svg" alt="mylbydget" class="img-fluid"></a>
<!--                кнопка менюшки-->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                
                <div class="collapse navbar-collapse" id="navbarContent">
<!--                    .ms-auto чтобы вправо притянулось -->
                    <div class="navbar-nav ms-auto">
                        <a class="btn text-center" href="/login" role="button">Войти</a>
                        <a class="btn btn-primary text-center mx-10" href="/registration" role="button">Зарегистрироваться</a>
                        <a class="btn btn-light px-3"><i class="fab fa-telegram" ></i></a>
                    </div>
                </div>
                
            </div>
        </nav>
{% endblock %}

{% block pagecontent %}
<!-- основной контейнер старотовой страницы -->
    <div class="mx-auto" id="start_page_description">
        <div class="mx-auto text-center" id="start_page_descriprion_header">
            <h1>Учёт Вашего бюджета онлайн!</h1>
        </div>
        <div id="start_page_description_text">
            <h5>Mylbudget - лучшее средсто контроля расходов и доходов</h5>
        </div>
    </div>
{% endblock %}