:root {
    --color-background-main: #FDFFFC;
    --color-main-blue: #6665DD;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 500;
}

body {
  background-color: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

/*стартовое окно*/
#start_page_description {
    margin-top: 20vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*контент окон*/
#cabinetPageContent, #otherPageContent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh !important;
}

/*модальное окно крестик*/
#closeModal{
    position: absolute;
    margin-top: 1vh !important;
    margin-left: 1vh !important;
}

/*кабинет и сайдбар*/
@media (min-width: 991.98px) {
  #cabinetPageContent {
    width: auto;
    margin-left: 240px !important;
    margin-right: auto !important;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100% !important;
  }
}

.wallet_img {
/*    background: #DEBFFF;*/
    border-radius: 10px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}