
:root {
    --color-background-main: #FDFFFC;
    --color-main-blue: #6665DD;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 500;
}

body{
    font-family: 'Inter', sans-serif;
    background: var(--color-background-main);
    font-weight: 600;
/*    background: linear-gradient(87deg, rgba(255,251,163,1) 0%, rgba(189,236,255,1) 100%);*/
}

header {
/*    10 процентов высота*/
    height: 10vh;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
    z-index: 1050;
    background-color: white;
    padding: 1.5rem;
    padding-top: 0;
}

/*
@media (min-width: 1200px){
    .navbar, .page-footer, main {
        padding-left: 270px;
    }
}

@media (max-width: 1199.98px){
    .sidebar-fixed {
        display: none;
    }
}
*/

.container mt-4 {
    background: red;
}

#start_page_description {
    text-align: center;
    margin: auto;
}

#start_page_descriprion_header >h1{
    margin-bottom: 40px;
    font-weight: 900;
}
/* цвет placeholderov*/
.form-label {
    color: #666666 !important;
}
/*
main {
    background: red;
}
*/

