{% extends "base.html" %}

{% block header %}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                {% for key in sidebar_elements %}
                <a href="{{ sidebar_elements[key]['href'] }}" class="{{ sidebar_elements[key]['a_class'] }}" aria-current="true">
                    <i class="{{ sidebar_elements[key]['i_class'] }}"></i><span>{{ sidebar_elements[key]['text'] }}</span>
                </a>
                
<!--
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Главная</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Мой профиль</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Счета</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Графики</span>
                </a>
-->
                {% endfor %}
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
           <a href="/" class="navbar-brand"><strong>
                <img src="{{ url_for('static', filename='img/logo.png') }}" height="25" alt="MyLifeBudget" loading="lazy"/></strong></a>
<!--            &lt;!&ndash; Search form &ndash;&gt;-->
<!--            <form class="d-none d-md-flex input-group w-auto my-auto">-->
<!--                <input-->
<!--                        autocomplete="off"-->
<!--                        type="search"-->
<!--                        class="form-control rounded"-->
<!--                        placeholder='Search (ctrl + "/" to focus)'-->
<!--                        style="min-width: 225px"-->
<!--                />-->
<!--                <span class="input-group-text border-0"-->
<!--                ><i class="fas fa-search"></i-->
<!--                ></span>-->
<!--            </form>-->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <!-- Icon -->
                <!-- Icon -->
<!--
                <li class="nav-item me-3 me-lg-0 my-auto">
                    <a class="nav-link" href="#">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
-->
                <li class="nav-item me-3 me-lg-3 my-auto">
                    <h5 class="my-auto">{{ user }}</h5>
                </li>
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static', filename=avatar_path) }}" class="rounded-circle" height="36" width="36" alt="" loading="lazy"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
<!--
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
-->
                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
{% endblock %}

{% block pagecontent %}
<div class="container-fluid" id="cabinetPageContent">
    <div class="row mx-auto">
        <div class="card" id="pagenameCard">
            <!--                заголовок-->
            <div class="card-header my-auto d-flex justify-content-between">
                <h2 class="card-title my-auto">
                    Мои счета
                </h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addWalletModal">
                  Новый счёт
                </button>
            </div>
        </div>
    </div>
    {% if all_balance %}
    <div class="row mx-auto my-2">
        <div class="card" id="pagenameCard">
            <!--                заголовок-->
            <div class="card-header my-auto d-flex justify-content-start">
                <div class="card-title my-auto d-sm-flex justify-content-start">
                    <h3 class="my-auto mr-4">
                        Общий баланс:
                    </h3> 
                    {% if "-" in all_balance %}
                    <h3 class="my-auto text-danger mx-4">{{ all_balance }}</h3>
                    {% else %}
                    <h3 class="my-auto text-success mx-4">{{ all_balance }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Добавить счёт -->
    <div class="modal fade" id="addWalletModal" tabindex="-1" aria-labelledby="addWalletLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h2 class="modal-title my-auto mx-auto" id="addWalletLabel">
                        Добавление счёта
                    </h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                <div class="modal-body">
                    <form action="" method="post", enctype=multipart/form-data>
                    {{ form.hidden_tag() }}
                    <div class="row my-4  d-flex justify-content-center">
                        <div class="col-lg-6 mx-auto">
        <!--                        is-valid зеленое my-0 нет отступов по y-->
                            <div class="form-outline">
                                {{ form.name(class="form-control " + input_errors["name"]["errclass"], id="inputName", type="text", maxlength="16") }}
                                <div class="invalid-feedback">
                                    {{ input_errors["name"]["invalid-feedback"] }}
                                </div>
                                <label class="form-label" for="inputName">Название *</label>
                                {% for error in form.name.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="form-outline">
                                {{ form.balance(class="form-control " + input_errors["balance"]["errclass"],
                                id="inputBalance", type="number", min="0", max="1000000000", default="0") }}
                                {% for error in form.balance.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                                <div class="invalid-feedback">
                                  {{ input_errors["balance"]["invalid-feedback"] }}
                                </div>
                                <label class="form-label" for="inputBalance">Баланс *</label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-4 my-auto">
                            <div class="input-group">
                                {{ form.main_currency(class="form-select rounded " + input_errors["main_currency"]["errclass"],
                                id="MainCurrency") }}
                                {% for error in form.main_currency.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-6 mx-auto">
                            <div class="input-group d-flex justify-content-between">
                                <label class="col-form-label">Цвет:</label>
                                <input class="form-control-color" type="color" name="walletcolor">
                            </div>
                        </div>
                    </div> 
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="text-center">
                            {{ form.submit(class="btn btn-primary", type="submit") }}
        <!--                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
                        </div>
                    </div>
                </form>
                </div>
<!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
-->
            </div>
        </div>
    </div>
    <div class="row mx-auto d-sm-flex justify-content-evenly">
        {% if wallets %}
            {% for wallet in wallets %}
                <div class="card col-lg-4 col-md-5 my-2 mx-2">
                <!--                заголовок-->
                    <div class="card-header my-auto text-center ">
                        <h3 class="my-auto">
                            {{ wallet["name"] }}
                        </h3>
                    </div>
                    <!--                тело-->
                    <div class="card-body">
                        <div class="row d-sm-flex justify-content-evenly my-3">
                            <div class="col-xl-6 col-lg-12 col-6 mb-3">
                                <img class="wallet_img" src="{{ url_for('static', filename='img/card.png') }}" height="57" width="85" alt="" loading="lazy" style="background: {{ wallet['wallet_color'] }}"/>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-6">
                                <div class="row">
                                    <h5><strong>{{ wallet["balance"] }} {{ wallet["currency"]}}</strong></h5>
                                </div>
                                 <div class="row">
                                    <h6>( {{ wallet["balance_main_currency"] }} {{ wallet["main_currency"]}} )</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="card col-lg-9 my-2 mx-2" id="budgetCard">
                <!--                заголовок-->
                    <div class="card-header my-auto text-center ">
                        <h3 class="my-auto">
                            Счета не найдены!
                        </h3>
                    </div>
                    <!--                тело-->

            </div>
        {% endif %}
    </div>
</div>
{% endblock %}