{% extends "base.html" %}

{% block header %}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                {% for key in sidebar_elements %}
                <a href="{{ sidebar_elements[key]['href'] }}" class="{{ sidebar_elements[key]['a_class'] }}" aria-current="true">
                    <i class="{{ sidebar_elements[key]['i_class'] }}"></i><span>{{ sidebar_elements[key]['text'] }}</span>
                </a>
                
<!--
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Главная</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Мой профиль</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Счета</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Графики</span>
                </a>
-->
                {% endfor %}
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt="Mylbudget" loading="lazy"/>
            </a>
<!--            &lt;!&ndash; Search form &ndash;&gt;-->
<!--            <form class="d-none d-md-flex input-group w-auto my-auto">-->
<!--                <input-->
<!--                        autocomplete="off"-->
<!--                        type="search"-->
<!--                        class="form-control rounded"-->
<!--                        placeholder='Search (ctrl + "/" to focus)'-->
<!--                        style="min-width: 225px"-->
<!--                />-->
<!--                <span class="input-group-text border-0"-->
<!--                ><i class="fas fa-search"></i-->
<!--                ></span>-->
<!--            </form>-->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <!-- Icon -->
                <!-- Icon -->
<!--
                <li class="nav-item me-3 me-lg-0 my-auto">
                    <a class="nav-link" href="#">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
-->
                <li class="nav-item me-3 me-lg-3 my-auto">
                    <h5 class="my-auto">{{ user }}</h5>
                </li>
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static', filename=avatar_path) }}" class="rounded-circle" height="36" width="36" alt="" loading="lazy"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
<!--
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
-->
                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
{% endblock %}

{% block pagecontent %}
<div class="container-fluid" id="cabinetPageContent">
    <div class="row mx-auto">
        <div class="card" id="pagenameCard">
            <!--                заголовок-->
            <div class="card-header my-auto d-sm-flex justify-content-between">
                <h2 class="card-title my-auto">
                    Операции
                </h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionExpensesModal">
                  Новая операция
                </button>
            </div>
        </div>
    </div>
<!--
    <div class="row mx-auto my-2">
        <div class="card" id="pagenameCard">
                            заголовок
            <div class="card-header my-auto d-flex justify-content-evenly">
                <h2 class="card-title my-auto">
                    Сортировка
                </h2>
            </div>
        </div>
    </div>
-->
        <!-- Добавить счёт -->
    <div class="modal fade" id="addTransactionExpensesModal" tabindex="-1" aria-labelledby="addTransactionExpensesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h2 class="modal-title my-auto mx-auto" id="addTransactionExpensesLabel">
                        Добавление расхода
                    </h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                <div class="modal-body">
                    {% if wallets_names %}
                    
                    <div class="row d-flex justify-content-center mt-0 mb-2">
                        <div class="col-lg-6 mx-auto d-flex justify-content-evenly">
                            <button type="button" class="btn btn-primary disabled">
                              Расход
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionIncomeModal">
                              Доход
                            </button>
                        </div>
                    </div>
                    
                    <form action="" method="post" enctype=multipart/form-data>
                    {{ expenses_form.hidden_tag() }}
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-5 col-8 my-auto">
                            <div class="form-outline">
                                {{ expenses_form.transaction_sum(class="form-control " + input_errors["transaction_sum"]["errclass"], id="inputTransactionExpenses_sum", type="number", min="0", max="1000000000") }}
                                <label class="form-label" for="inputTransactionExpenses_sum">Сумма *</label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-4 my-auto">
                            <div class="input-group">
                                <h4 class="form-label my-auto text-center" id="currencyExpenses" name="currencyTextExpenses">
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Счёт:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ expenses_form.wallet(class="form-select rounded ", id="selectWalletExpenses") }}
                                {% for error in expenses_form.wallet.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                             document.getElementById('currencyExpenses').innerHTML = document.getElementById("selectWalletExpenses").value[document.getElementById("selectWalletExpenses").value.length - 2];
                             document.getElementById("selectWalletExpenses").addEventListener("change", function(){
                                 document.getElementById('currencyExpenses').innerHTML = this.value[this.value.length - 2];   
                                });
                        </script>
                        
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Категория:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ expenses_form.transaction_expenses_category(class="form-select rounded ", id="selectTransactionCategoryExpenses") }}
                                {% for error in expenses_form.transaction_expenses_category.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Дата:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ expenses_form.transaction_date(class="form-control rounded", id="selectTransactionDateExpenses", type="datetime-local", max=max_time) }}
                            </div>
                        </div>
                    </div>
                    <div class="row my-4  d-flex justify-content-center">
                        <div class="col-lg-6 mx-auto">
        <!--                        is-valid зеленое my-0 нет отступов по y-->
                            <div class="form-outline">
                                {{ expenses_form.comment(class="form-control ", id="inputCommentExpenses", type="text", maxlength="24") }}
<!--
                                <div class="invalid-feedback">
                                    {{ input_errors["comment"]["invalid-feedback"] }}
                                </div>
-->
                                <label class="form-label" for="inputCommentExpenses">Комментарий</label>
                                {% for error in expenses_form.comment.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="row my-4">
                        <div class="text-center">
                            {{ expenses_form.submit(class="btn btn-primary", type="submit") }}
        <!--                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-12 col-8 my-auto">
                            <h3 class="my-auto text-center">
                                Счета не найдены! <a href="/cabinet/wallets">Создайте новый.</a>
                            </h3>
                        </div>
                    </div>
                {% endif %}
                </div>
<!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
-->
            </div>
        </div>
    </div>
    <div class="modal fade" id="addTransactionIncomeModal" tabindex="-1" aria-labelledby="addTransactionIncomeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h2 class="modal-title my-auto mx-auto" id="addTransactionIncomeLabel">
                        Добавление дохода
                    </h2>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
                <div class="modal-body">
                    {% if wallets_names %}
                    
                    <div class="row d-flex justify-content-center mt-0 mb-2">
                        <div class="col-lg-6 mx-auto d-flex justify-content-evenly">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTransactionExpensesModal" id="btnExpensesIncomeModal">
                              Расход
                            </button>
                            <button type="button" class="btn btn-primary disabled">
                              Доход
                            </button>
                        </div>
                    </div>
                    
                    <form action="" method="post" enctype=multipart/form-data>
                    {{ income_form.hidden_tag() }}
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-5 col-8 my-auto">
                            <div class="form-outline">
                                {{ income_form.transaction_sum(class="form-control ", id="inputTransactionIncome_sum", type="number", min="0", max="1000000000") }}
                                <label class="form-label" for="inputTransactionIncome_sum">Сумма *</label>
                            </div>
                        </div>
                        <div class="col-lg-1 col-4 my-auto">
                            <div class="input-group">
                                <h4 class="form-label my-auto text-center" id="currencyIncome" name="currencyTextIncome">
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Счёт:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ income_form.wallet(class="form-select rounded ", id="selectWalletIncome") }}
                                {% for error in income_form.wallet.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <script type="text/javascript">
                            document.getElementById('currencyIncome').innerHTML = document.getElementById("selectWalletIncome").value[document.getElementById("selectWalletIncome").value.length - 2];
                            document.getElementById("selectWalletIncome").addEventListener("change", function(){
                             document.getElementById('currencyIncome').innerHTML = this.value[this.value.length - 2];   
                            });
                        </script>
                        
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Категория:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ income_form.transaction_income_category(class="form-select rounded ", id="selectTransactionCategoryIncome") }}
                                {% for error in income_form.transaction_income_category.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-2 col-4 ml-1 my-auto">
                            <div class="input-group my-auto">
                                <label class="col-form-label text-center">Дата:</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-8 my-auto">
                            <div class="input-group my-auto">
                                {{ income_form.transaction_date(class="form-control rounded", id="selectTransactionDateIncome") }}
                            </div>
                        </div>
                    </div>
                    <div class="row my-4  d-flex justify-content-center">
                        <div class="col-lg-6 mx-auto">
        <!--                        is-valid зеленое my-0 нет отступов по y-->
                            <div class="form-outline">
                                {{ income_form.comment(class="form-control ", id="inputCommentIncome", type="text", maxlength="24") }}
<!--
                                <div class="invalid-feedback">
                                    {{ input_errors["comment"]["invalid-feedback"] }}
                                </div>
-->
                                <label class="form-label" for="inputName">Комментарий</label>
                                {% for error in income_form.comment.errors %}
                                    <p class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="row my-4">
                        <div class="text-center">
                            {{ income_form.submit(class="btn btn-primary", type="submit") }}
        <!--                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
                        </div>
                    </div>
                </form>
                {% else %}
                    <div class="row my-4 d-flex justify-content-center">
                        <div class="col-lg-12 col-8 my-auto">
                            <h3 class="my-auto text-center">
                                Счета не найдены! <a href="/cabinet/wallets">Создайте новый.</a>
                            </h3>
                        </div>
                    </div>
                {% endif %}
                </div>
<!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
-->
            </div>
        </div>
    </div>
    {% if transactions_dict %}
    {% for date in transactions_dict.keys() %}
    <div class="row mx-auto d-sm-flex justify-content-evenly">
        
        <div class="card col-lg-9 col-12 my-1">
            <!--                заголовок-->
            <div class="card-header my-auto d-sm-flex justify-content-between">
                <h5 class="col-sm-3 col-12 text-center my-auto"><strong>{{ date }}</strong></h5>
                {% if "+" in day_transactions_sum_dict[date] %}
                    <h5 class="col-sm-3 col-12 text-center my-auto text-success"><strong>{{ day_transactions_sum_dict[date] }}</strong></h5>
                {% else %}
                    <h5 class="col-sm-3 col-12 text-center my-auto text-danger"><strong>{{ day_transactions_sum_dict[date] }}</strong></h5>
                {% endif %}
            </div>
            <!--                тело-->
            <div class="card-body">
            {% for transaction in transactions_dict[date] %}

                <div class="row d-sm-flex justify-content-between my-3">
                    <div class="col-sm col-6">
                        <div class="row d-sm-flex justify-content-between mx-auto my-auto">
                            <i class="mx-auto col-1 fa fa-clock my-auto mr-2" aria-hidden="true"></i>
                            <p class="col text-start my-auto">{{ transaction["time"] }}</p>
                        </div>
                    </div>
                    <div class="col-sm col-6">
                        <div class="row d-sm-flex justify-content-between mx-auto my-auto">
                            <i class="mx-auto col-1 fa fa-window-maximize my-auto mr-2" aria-hidden="true"></i>
                            <p class="col text-start my-auto">{{ transaction["wallet_name"] }}</p>
                        </div>
                    </div>

                    <div class="col-sm col-6">
                        <div class="row d-sm-flex justify-content-between mx-auto my-auto">
                            <i class="mx-auto col-1 {{ transaction['category_i_class'] }} my-auto mr-2" aria-hidden="true"></i>
                            <p class="col text-start my-auto">{{ transaction["category"] }}</p>
                        </div>
                        <div class="row d-sm-flex justify-content-between mx-auto my-auto">
                            <p class="col text-start my-auto text-black-50">{{ transaction["comment"] }}</p>
                        </div>
                    </div>

                    <div class="col-sm col-6">
                        {% if "+" in transaction["sum"]%}
                            <p class="text-center text-success my-auto">{{ transaction["sum"] }} {{ transaction["currency"] }}</p>
                        {% else %}
                            <p class="text-center text-danger my-auto">{{ transaction["sum"] }} {{ transaction["currency"] }}</p>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="row mx-auto my-2">
        <div class="card" id="pagenameCard">
            <div class="card-header my-auto d-flex justify-content-evenly">
                <h2 class="card-title my-auto">
                    Пока нет операций
                </h2>
            </div>
        </div>
    </div>
    {% endif %}

    
</div>
{% endblock %}