{% extends "base.html" %}

{% block header %}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                {% for key in sidebar_elements %}
                <a href="{{ sidebar_elements[key]['href'] }}" class="{{ sidebar_elements[key]['a_class'] }}" aria-current="true">
                    <i class="{{ sidebar_elements[key]['i_class'] }}"></i><span>{{ sidebar_elements[key]['text'] }}</span>
                </a>
                
<!--
                <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Главная</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Мой профиль</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Счета</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Графики</span>
                </a>
-->
                {% endfor %}
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="/cabinet"><strong>
                <img src="{{ url_for('static', filename='img/logo.png') }}" height="25" alt="MyLifeBudget" loading="lazy"/></strong>
            </a>
<!--            &lt;!&ndash; Search form &ndash;&gt;-->
<!--            <form class="d-none d-md-flex input-group w-auto my-auto">-->
<!--                <input-->
<!--                        autocomplete="off"-->
<!--                        type="search"-->
<!--                        class="form-control rounded"-->
<!--                        placeholder='Search (ctrl + "/" to focus)'-->
<!--                        style="min-width: 225px"-->
<!--                />-->
<!--                <span class="input-group-text border-0"-->
<!--                ><i class="fas fa-search"></i-->
<!--                ></span>-->
<!--            </form>-->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <!-- Icon -->
                <!-- Icon -->
<!--
                <li class="nav-item me-3 me-lg-0 my-auto">
                    <a class="nav-link" href="#">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
-->
                <li class="nav-item me-3 me-lg-3 my-auto">
                    <h5 class="my-auto">{{ user }}</h5>
                </li>
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <img src="{{ url_for('static', filename=avatar_path) }}" class="rounded-circle" height="36" width="36" alt="" loading="lazy"/>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
<!--
                        <li><a class="dropdown-item" href="#">My profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
-->
                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
{% endblock %}

{% block pagecontent %}
<div class="container-fluid" id="cabinetPageContent">
    <div class="row mx-auto">
        <div class="card" id="pagenameCard">
            <!--                заголовок-->
            <div class="card-header my-auto d-flex justify-content-between">
                <h2 class="card-title my-auto">
                    Личный кабинет
                </h2>
            </div>
        </div>
    </div>
    <div class="row mx-auto d-sm-flex justify-content-evenly">
        <div class="card col-xl-5 col-12 my-2">
            <!--                заголовок-->
            <div class="card-header my-auto text-center">
                <h2 class="my-auto">
                    Бюджет
                </h2>
                {% if "-" in all_balance %}
                    <h3 class="my-auto text-danger mx-4">{{ all_balance }}</h3>
                {% else %}
                    <h3 class="my-auto text-success mx-4">{{ all_balance }}</h3>
                {% endif %}
            </div>
            <!--                тело-->
            <div class="card-body">
                {% if "-" in all_balance %}
                    <h3 class="my-auto text-center">Баланс отрицательный</h3>
                {% else %}
                <div>
                  <canvas id="budgetChart"  width="200" height="200">
                  </canvas>
                </div>
                    <script>
                        var oilCanvas = document.getElementById("budgetChart");

                        Chart.defaults.global.defaultFontFamily = "Georgia";
                        Chart.defaults.global.defaultFontSize = 24;

                        var oilData = {{ budgetChart|tojson}};

                        var pieChart = new Chart(oilCanvas, {
                          type: 'pie',
                          data: oilData
                        });
                    </script>
                {% endif %}
            </div>
        </div>
        <div class="card col-xl-5 col-12 my-2">
            <!--                заголовок-->
            <div class="card-header my-auto text-center">
                <h2 class="my-auto">
                    Расходы и доходы
                </h2>
            </div>
            <!--                тело-->
            <div class="card-body">
                <div>
                  <canvas id="incomeexpensesChart"  width="200" height="200">
                  </canvas>
                </div>
                    <script>
                        var densityCanvas = document.getElementById("incomeexpensesChart");

                        Chart.defaults.global.defaultFontFamily = "Georgia";
                        Chart.defaults.global.defaultFontSize = 24;

                        var densityData = {{ incomeexpensesChart|tojson }};
                        
                        var barChart = new Chart(densityCanvas, {
                          type: 'bar',
                          data: densityData,
                          options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        steps: 5,
                                        stepSize: 20,
                                        max: 100 //max value for the chart is 60
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}