{% extends "base.html" %}

{% block header %}
    <!--        верхняя панель-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
            <div class="container-fluid">
                
                <a href="/" class="navbar-brand"><img src="logo.svg" alt="mylbydget" class="img-fluid"></a>
<!--                кнопка менюшки-->
<!--
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                
                <div class="collapse navbar-collapse" id="navbarContent">
                    .ms-auto чтобы вправо притянулось 
                    <div class="navbar-nav ms-auto">
                        <a class="btn text-center" href="/login" role="button">Войти</a>
                        <a class="btn btn-primary text-center mx-10" href="/registration" role="button">Зарегистрироваться</a>
                        <a class="btn btn-light px-3"><i class="fab fa-telegram" ></i></a>
                    </div>
                </div>
-->
                <div class="navbar-nav ms-auto">
                    <a class="btn text-center" href="/login" role="button">Войти</a>
                    <a class="btn btn-primary text-center mx-10" href="/registration" role="button">Зарегистрироваться</a>
                    <a class="btn btn-light px-3"><i class="fab fa-telegram" ></i></a>
                 </div>
                
            </div>
        </nav>
{% endblock %}

{% block body_main_container %}
    <div class="card col-lg-9 mx-auto">
    <!--                заголовок-->
        <div class="card-header text-center">
            <h2>
                Регистрация
            </h2>
        </div>
    <!--                тело-->
        <div class="card-body">
    <!--                    форма-->
            <form action="" method="post", enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                <div class="row my-4">
    <!--
                    <label for="inputEmail" class="col-md-3 text-center">
                        <h4>Email</h4>
                    </label>
    -->
                    <div class="col-md-6 mx-auto">
<!--                        is-valid зеленое my-0 нет отступов по y-->
                        <div class="form-outline">
                            {{ form.email(class="form-control " + input_errors["email"]["errclass"], id="Email", type="email", maxlength="64", pattern="([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+") }}
                            <div class="invalid-feedback">
                                {{ input_errors["email"]["invalid-feedback"] }}
                            </div>
                            <label class="form-label" for="inputEmail">Email *</label>
                            {% for error in form.email.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="row my-4">
    <!--
                    <label for="inputEmail" class="col-md-3 text-center">
                        <h4>username</h4>
                    </label>
    -->
                    <div class="col-md-6 mx-auto">
                        <div class="form-outline">
                            {{ form.username(class="form-control " + input_errors["username"]["errclass"], id="Username", type="text", maxlength="16") }}
                            {% for error in form.username.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            <div class="invalid-feedback">
                              {{ input_errors["username"]["invalid-feedback"] }}
                            </div>
                            <label class="form-label" for="inputUsername">Логин *</label>
                        </div>
                    </div>

                </div>
                <div class="row my-4">
    <!--
                    <label for="inputEmail" class="col-md-3 text-center">
                        <h4>username</h4>
                    </label>
    -->
                    <div class="col-md-6 mx-auto">
                        <div class="form-outline">
                            {{ form.password(class="form-control " + input_errors["password"]["errclass"], id="Password", type="password", minlength="4") }}

                            {% for error in form.password.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            <div class="invalid-feedback">
                                {{ input_errors["password"]["invalid-feedback"] }}
                            </div>
                            <label class="form-label" for="inputPassword">Пароль *</label>
                        </div>
                    </div>

                </div>
                <div class="row my-4">
    <!--
                    <label for="inputEmail" class="col-md-3 text-center">
                        <h4>username</h4>
                    </label>
    -->
                    <div class="col-md-6 mx-auto">
                        <div class="form-outline">
                            {{ form.password_again(class="form-control " + input_errors["password_again"]["errclass"], id="PasswordAgain", type="password", minlength="4") }}
                            {% for error in form.password_again.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
                            <div class="invalid-feedback">
                              {{ input_errors["password_again"]["invalid-feedback"] }}
                            </div>
                            <label class="form-label", for="inputPasswordAgain">Повторите пароль *</label>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-6 mx-auto">
                        <div class="input-group">
                            <label class="col-form-label col-7">Основная валюта: *</label>
                            {{ form.main_currency(class="form-select rounded " + input_errors["main_currency"]["errclass"], id="MainCurrency") }} 
                            {% for error in form.main_currency.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
<!--
                            <select class="form-select col-3" id="selectCurrency" required>
                                <option selected><i class=""></i>RUB</option>
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
-->
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-6 mx-auto">
                        <div class="input-group">
                            <label class="col-form-label col-lg-3 col-12">Аватар:</label>
                            {{ form.avatar(class="form-control " + input_errors["avatar"]["errclass"], id="Avatar", accept=".jpg, .png") }} 
                            {% for error in form.avatar.errors %}
                                <p class="alert alert-danger" role="alert">
                                    {{ error }}
                                </p>
                            {% endfor %}
<!--
                            <div class="invalid-feedback col-lg-12 mt-8">
                              {{ input_errors["avatar"]["invalid-feedback"] }}
                            </div>
-->
<!--                        
                            <select class="form-select col-3" id="selectCurrency" required>
                                <option selected><i class=""></i>RUB</option>
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
-->
                        </div>
                        {% if input_errors["avatar"]["invalid-feedback"] %}
                            <div class="text-danger mt-1">
                                {{ input_errors["avatar"]["invalid-feedback"] }}
                            </div>
                        {% endif %}
                    </div>
                </div> 
                <div class="row my-4">
                    <div class="text-center">
                        {{ form.submit(class="btn btn-primary", type="submit") }}
<!--                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
                    </div>
                </div>
            </form>
            <div class="card-footer text-center">
<!--                <p>Нет аккаунта? <a href="#">Зарегистрируйтесь!</a></p>-->
                <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
            </div>
        </div>
    </div>
{% endblock %}